<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Welcome to the Diet Plan App</h1>
        
        <div class="button-group">
            <a href="{{ url_for('index') }}" class="button">Diet Plan Generator</a>
            <a href="{{ url_for('about_us') }}" class="button">About Us</a>
            <!-- Add other navigation buttons as needed -->
        </div>
</body>
</html>
